<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Burgers</h1>
    <p class="lead">Order your burger </p>
    <p class="lead">Eat your burger </p>
    <hr class="my-4">
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-6">


<center>
      <h2>Burgers Ordered</h2>
</center>
      
        <ul>
          <center>
        {{#each burgers}}
        {{#unless devoured}}
      
          {{this.id}}-{{this.burger_name}}
          <br>
          <button type="button" class="devour btn btn-dark" data-id="{{this.id}}"
            data-devour="{{devour}}">Devour</button>
        
        <br>

        {{/unless}}
        {{/each}}
        </center>
      </ul>
      
    </div>
    <div class="col-md-6">
      <center>
      <h2>Burgers Eaten</h2>
      </center>

     
      <ul>
         <center>
        {{#each burgers}}
        {{#if devoured}}
        {{this.id}}- {{this.burger_name}}
        <br>
        {{/if}}
        {{/each}}
         </center>
      </ul>
      </center>
    </div>
  </div>
  </div>
  <center>
  <h2>Order your burger</h2>
</center>

  <div class="form-group">
    <label for="ca"></label>
    <input type="text" class="form-control" id="burger" name="burger">
  </div>


  <button type="button" class="btn btn-dark" id="addBtn">Add Burger</button>


</div>